<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%post = Post.all.find(params[:id]) %>
    <h1>Post Name: <%=post.name%></h1>

    <h1>Post Content: </h1>
    <p><%=post.content%></p>

    <form action="/posts/<%=post.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
